.btn {
  width: 37%;
  height: 48px;
  color: #4b4b4b;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.btn:active {
    color: #fff;
    width: 32%;
    height: 42px;
    box-shadow: -1px 1px 25px 6px;
}
@media screen and (max-width: 1000px) {
  .btn {
    font-size: 11px;
  }
}
