.btn {
  background: var(--light-yellow);
  width: 37%;
  height: 48px;
  color: #4b4b4b;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
}
.btn:active {
  width: 35%;
  height: 45px;
  color: white;
}
@media screen and (max-width: 1000px) {
  .btn {
    font-size: 11px;
  }
}
