.features {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  justify-content: space-evenly;
  padding: 10px;
}

.features__items {
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  width: 314px;
  // max-width: 554px;
  padding: 5px;
  display: flex;
}

.box-width-2 {
  width: 100%;
  max-width: 1200px;
}
.features__items--hover:hover {
  box-shadow: 0px 4px 16px 0px #00000033;
}
.mac {
  width: 802px;
  height: 464px;
}

.content__flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 500px) {
  .features {
    display: flex;
    flex-direction: column;
  }
  .mac {
    width: 290px;
    height: 168.32px;
    margin-top: 37px;
  }
}
