@use "../abstracts/" as *;

.icons--fill svg path {
  fill: $light-yellow;
}
.icon--fill-phone svg path {
  fill: #7d7d7d;
}
.icon--fill-phone svg {
  width: 24px;
  height: 24px;
}
.icon--fill-phone {
  cursor: pointer;
}
.icons--fill {
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .icons--size svg {
    width: 18px;
    height: 18px;
  }
  .icon--fill-phone svg {
    width: 21px;
    height: 21px;
  }
  .features__icons--size svg {
    width: 33px;
    height: 27px;
  }
}
.items__icons--size {
  cursor: pointer !important;
}

.items__icons--size svg path:active {
  fill: $light-yellow;
}
@media screen and (max-width: 1000px) {
  /*icons navbar*/
  .items__icons--size svg {
    width: 20px;
    height: 16px;
    /*icons Features*/
  }
}
