.content--mgbt-0 {
  margin-bottom: 5px;
}
.content--mgbt-1 {
  margin-bottom: 10px;
}
.content--mgbt-2 {
  margin-bottom: 27px;
}
.content--mgbt-3 {
  margin-bottom: 42px;
}
.content--mgbt-4 {
  margin-bottom: 42px;
}

@media (max-width: 680px) {
  .content--mgbt-3,
  .content--mgbt-4 {
    margin-bottom: 20px;
  }
}
