/*NAVIGATION*/
.main__menu {
  text-transform: uppercase;
  gap: 49px;
  font-size: 18px;
  height: 22px;
  display: flex;
  align-items: center;
}
.li {
  a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
}
.li:hover {
  a {
    color: var(--light-yellow);
  }
}
/*ICONS*/
.main__icons {
  display: flex;
  align-items: center;
}

.product-list__item {
  gap: 15px;
  margin-top: 25px;
}
.main__icons--gap {
  gap: 42px;
}
@media (max-width: 1000px) {
  .medium {
    gap: 25px;
  }
  .main__menu {
    font-size: 12px;
  }
}

@media (max-width: 685px) {
  .main__icons--gap {
    gap: 24px;
  }
  .main__menu {
    display: none;
  }
  .text {
    font-size: 20px !important;
  }
  .hambuger {
    cursor: pointer;

    display: block;
  }
}
