.card-bg {
  width: 40%;
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

/*GIRD TEMPLATE*/
.grid-template {
    grid-template: 1fr 1fr / 1fr 1fr;
    place-items: center;
    display: grid
;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
@media screen and (max-width: 685px) {
  .grid-template {
    grid-template: 1fr 1fr 1fr /1fr;
  }
}

/*BORDER RADIUS*/
.person-border-radius-img {
  width: 96px;
  height: 96px;
  border-radius: 50px;
}
@media screen and (max-width: 1000px) {
  /*BORDER RADIUS*/
  .person-border-radius-img {
    width: 64px;
    height: 64px;
  }
}
@media screen and (max-width: 685px) {
  .box-width{
    padding: 15px;
  }
  /*BORDER RADIUS*/
  .person-border-radius-img {
    width: 48px;
    height: 48px;
  }
}
