.phone__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 20px 0 20px;
}
.phone img {
  width: 360px;
  height: 374px;
}
.phone {
  position: relative;
}
.phone::after {
  content: "";
  background-image: url(../assets/imgs/phone/iphone-screen.png);
  width: 319px;
  height: 404px;
  position: absolute;
  left: 21px;
  top: 58px;
}
.input--container {
  gap: 73px;
  display: flex;
  flex-direction: column;
}
.input--flex {
  display: flex;
  gap: 20px;
}
.input--phone {
  border: none;
  width: 100%;
  border-bottom: 1px solid #7d7d7d;
  font-size: 18px;
}
.input--phone:focus {
  outline: none;
}
.email--phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 59px;
  padding: 10px;
}
.btn--phone {
  background: #ebcb80;
  border: none;
  width: 210px;
  height: 48px;
  border-radius: 50px;
  color: #3c3c3c;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.btn--phone:active {
  color: #fff;
  box-shadow: -1px 1px 25px 6px #ebcb80;
}
.address__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 278px;
  gap: 23px;
}
.address--items {
  display: flex;
  gap: 9px;
  align-items: flex-start;
}
.address--items:nth-child(2) {
  align-items: center;
}
.icons--address {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons--address img {
  cursor: pointer;
}

.background--gray {
  background: #d8d8d8;
  width: 100%;
  height: 400px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment__items--background {
  background:
    linear-gradient(2deg, #ebcb80, #ebcb807d),
    linear-gradient(202.52deg, #ffffffd6 15.01%, #fff0 112.53%);
  width: 190px;
  display: flex;
  height: 82px;
  padding: 10px;
  box-shadow: 0 2px 4px #00000080;
  align-items: center;
  border-radius: 10px;
  position: relative;
}
.comment__items--background::after {
  content: "";
  border: 11px solid #d8d8d800;
  border-top: 13px solid #ebcb80;
  border-bottom-width: inherit;
  position: absolute;
  top: 99%;
  left: 43%;
}
@media screen and (max-width: 1025px) {
  .address--items {
    align-items: center;
  }
  .phone {
    display: none;
  }
  .background--gray {
    background: white;
    height: 216px;
  }
  .input--phone {
    font-size: 11px;
  }
  .btn--phone {
    font-size: 11px;
    width: 46.5%;
    height: 32px;
  }
  .input--container {
    gap: 25px;
  }
  .email--phone {
    gap: 25px;
  }
}

@media screen and (max-width: 768px) {
  .address__container {
    max-width: 246px;
  }
}
@media screen and (max-width: 680px) {
  .address__container {
    max-width: 304px;
  }
  .phone__container {
    flex-direction: column;
    gap: 35px;
  }
  .input--container {
    gap: 30px;
  }
  .email--phone {
    gap: 30px;
  }
}
