.text__content--size-18 {
  font-size: 18px;
  margin-bottom: 27px;
}
.section {
  margin-top: 80px;
}
.text__content--small {
  font-size: 16px;
}
.text__content--white {
  color: white;
}
.text__content--dark {
  font-weight: 400;
  text-align: start;
  color: #4b4b4b;
}

.text__content--large {
  color: white;
  font-size: 44px;
  text-align: center;
  margin-bottom: 31px;
}

.text__content--size-64 {
  font-size: 64px;
  text-align: center;
}
.text__content--lh-5 {
  line-height: 50px;
  margin-bottom: 24px;
}
.text__content--lh-1 {
  line-height: 18px;
}
.text__content--lh-2 {
  line-height: 24px;
}
.text__content--lh-3 {
  line-height: 30px;
}
.text__content--lh-4 {
  line-height: 48px;
}
.text__content--size-64::before {
  content: "$";
  top: -5px;
  font-size: 24px;
  position: relative;
  left: -10px;
}
.title {
  font-weight: 400;
  font-size: 44px;
  text-align: center;
  line-height: 48px;
}
.text-align {
  text-align: center;
  line-height: 30px;
  margin-top: 32px;
  margin-bottom: 55px;
}
/* HR */
.hr {
  text-align: start;
  color: #7d7d7d;
  position: relative;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.hr::before {
  content: "";
  background: #f6f6f6;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 24px;
}
@media (max-width: 1000px) {
  .hr {
    font-size: 12px;
  }
  .text-align {
    margin-top: 22px;
    margin-bottom: 49px;
  }
  .font-content-3 {
    font-size: 12px;
  }
  .list-style {
    gap: 15px;
  }
  .font-content {
    font-size: 12px;
  }
  .text-3 {
    font-size: 36px;
  }
  .font-content-2 {
    font-size: 11px;
  }
  section p {
    font-size: 12px;
  }
  .title {
    font-size: 32px;
  }
  .text {
    font-size: 32px;
  }
}
@media (max-width: 685px) {
  .text-align {
    margin-top: 3px;
  }
  .title {
    font-size: 20px;
  }
}
