<section class="wd-hg">
           <img src="../assets/imgs/background/background-2.png" alt="" class="background brightness">
           <div class="flex-content">
                    <h2 class="text">Get Your Free Version</h2>
                    <p class="text-2 p">Having used discount toner cartridges for twenty years, there have been a lot of changes in the toner cartridge market. The market today is approximately a twenty billion dollar business.</p>
                    <button class="btn">DOWNLOAD</button>
           </div>
        </section>