<section class="main__content--mgt background-3 text__content--white">
  <div class="text__wrapper">
    <div>
      <h3
        class="title__content--size-32 text__content--white text__content--lh-5"
      >
        Gregory Francis
      </h3>
      <p
        class="text__content--size-18 text__content--white text__content--lh-4"
      >
        CHIEF ENGINEER
      </p>
    </div>
    <div class="content__dot--items">
      <p class="text__content--small text__content--white text__content--lh-2">
        I’ve started to work in company at 2009. Photographs are a way of
        preserving a moment in our lives for the rest of our lives. Many of us
        have at least been tempted at the flashy array of photo printers which
        seemingly leap off the shelves at even the least tech-savvy. It surely
        seems old fashioned to talk about 35mm film and non-digital cameras in
        today’s day and age.
      </p>
      <div class="nav-dots">
        <div class="nav-dots--items dots--active"></div>
        <div class="nav-dots--items"></div>
        <div class="nav-dots--items"></div>
        <div class="nav-dots--items"></div>
        <div class="nav-dots--items"></div>
      </div>
    </div>
  </div>
</section>
