<section class="wd-hg section">
  <img
    src="../assets/imgs/background/background-2.png"
    alt=""
    class="background brightness"
  />
  <div class="content__title-2">
    <h2 class="text__content--large">Get Your Free Version</h2>
    <p
      class="text__content--small content--spaced text__content--white text__content--lh-1 content--mgbt-3"
    >
      Having used discount toner cartridges for twenty years, there have been a
      lot of changes in the toner cartridge market. The market today is
      approximately a twenty billion dollar business.
    </p>
    <button class="btn btn--active pricing__items--light-yellow">
      DOWNLOAD
    </button>
  </div>
</section>
