<section class="content--pdt">
  <h3 class="title content--mgbt-4">Stay In Touch</h3>
  <div class="phone__container">
    <!--PHONE-->
    <div class="phone">
      <img src="../assets/imgs/phone/iphone.png" alt="" />
    </div>
    <!--EMAIL-->
    <div class="email--phone">
      <div class="input--container">
        <div class="input--flex">
          <input
            type="text"
            class="input--phone text__content--lh-3"
            placeholder="Name*"
          />
          <input
            type="email"
            class="input--phone text__content--lh-3"
            placeholder="Email*"
          />
        </div>
        <input
          type="text"
          class="input--phone text__content--lh-3"
          placeholder="Message*"
        />
      </div>
      <button class="btn--phone text__content--size-18">submit</button>
    </div>
    <!--ADDRESS-->
    <div class="address__container">
      <!--ADDRESS-->
      <div class="address--items text__content--small text__content--lh-2">
        <img src="../assets/icons/phone/location.svg" alt="" />
        <p>2300 W Arbutus Dr Citrus Springs, FL 34434, USA</p>
      </div>
      <!--EMAIL-->
      <div class="address--items text__content--small text__content--lh-2">
        <img src="../assets/icons/phone/mail.svg" alt="" />
        <p>contact@hofmannui.net</p>
      </div>
      <!--PHONE-->
      <div class="address--items text__content--small text__content--lh-2">
        <img src="../assets/icons/phone/phone.svg" alt="" />
        <p>793-891-7938, 952-775-6021</p>
      </div>
      <!--ICON ADDRESS-->
      <div class="icons--address">
        <!--Pinterest-->
        <img src="../assets/icons/social-network/Pinterest.svg" alt="" />
        <!--linkedin-->
        <img src="../assets/icons/social-network/linkedin.svg" alt="" />
        <!--google-plus-->
        <div class="icon--fill-phone">
          <include src="icons/google-plus.html"></include>
        </div>
        <!--twitter-->
        <div class="icon--fill-phone">
          <include src="icons/twitter.html"> </include>
        </div>
        <!--facebook-->
        <div class="icon--fill-phone">
          <include src="icons/facbook.html"></include>
        </div>
      </div>
    </div>
  </div>
  <!--BACKGROUND-->
  <div class="background--gray">
    <div class="comment__items--background text__content--size-11">
      <p class="text__content--lh-14">
        2300 W Arbutus Dr Citrus Springs, FL 34434, USA
      </p>
    </div>
  </div>
</section>
