<each loop="items in {{ list  }} ">
  <section class="content--pdt">
    <h3 class="title content--mgbt-4">{{ items.title }}</h3>
    <div class="phone__container">
      <!--PHONE-->
      <div class="phone">
        <img src="{{ items.phone }}" alt="" />
      </div>
      <!--EMAIL-->
      <div class="email--phone">
        <div class="input--container">
          <div class="input--flex">
            <input
              type="text"
              class="input--phone text__content--lh-3"
              placeholder="Name*"
            />
            <input
              type="email"
              class="input--phone text__content--lh-3"
              placeholder="Email*"
            />
          </div>
          <input
            type="text"
            class="input--phone text__content--lh-3"
            placeholder="Message*"
          />
        </div>
        <button class="btn--phone text__content--size-18">submit</button>
      </div>
      <!--ADDRESS-->
      <div class="address__container">
        <!--ADDRESS-->
        <div class="address--items text__content--small text__content--lh-2">
          <img src="../assets/icons/phone/location.svg" alt="" />
          <p>{{ items.address }}</p>
        </div>
        <!--EMAIL-->
        <div class="address--items text__content--small text__content--lh-2">
          <img src="../assets/icons/phone/{{ items.mail }}" alt="" />
          <p>{{ items.email }}</p>
        </div>
        <!--PHONE-->
        <div class="address--items text__content--small text__content--lh-2">
          <img src="../assets/icons/phone/{{ items.phones }}" alt="" />
          <p>{{ items.tel }}</p>
        </div>
        <!--ICON ADDRESS-->
        <div class="icons--address">
          <!--Pinterest-->
          <div class="icon--fill-phone">
            <a href="#">
              <include src="icons/pinterest.html"> </include>
            </a>
          </div>
          <!--linkedin-->
          <div class="icon--fill-phone">
            <a href="#">
              <include src="icons/linkedin.html"></include>
            </a>
          </div>
          <!--google-plus-->
          <div class="icon--fill-phone">
            <a href="#">
              <include src="icons/google-plus.html"></include>
            </a>
          </div>
          <!--twitter-->
          <div class="icon--fill-phone">
            <a href="#">
              <include src="icons/twitter.html"> </include>
            </a>
          </div>
          <!--facebook-->
          <div class="icon--fill-phone">
            <a href="#">
              <include src="icons/facbook.html"></include>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--BACKGROUND-->
    <div class="background--gray">
      <div class="comment__items--background text__content--size-11">
        <p class="text__content--lh-14">{{ items.address }}</p>
      </div>
    </div>
  </section>
</each>
