<section class="section">
    <div class="gap-content">
         <h2 class="title">Features</h2>
             <p class="text-align">WE’RE TAKING IT TO THE NEXT LEVEL</p>
    </div>
            
             <div class="main-advantages">
              <div class="div-content"  >
                 <div class="advantages">
                    <!---DESKTOP PHONE-->
                         <div >
<include src="icons/desktop.html"></include>
                         </div>
                         <div class="gap-content">
                             <h2 class="font-content-2">RESPONSIVE LAYOUT</h2>
                             <p class="font-content-2">The past few years have seen a dramatic change in the public perception of cosmetic surgery.</p>
                         </div>
                   </div>
                   <div class="advantages">
                    <!---DIAMOND-->
                         <div>
<include src="icons/diamond.html"></include>
                         </div>
                         <div class="gap-content">
                             <h2 class="font-content-2">PIXEL PERFECT</h2>
                             <p class="font-content-2">About 64% of all on-line teens say that do things online that they wouldn’t want their parents to know about.</p>
                         </div>
                   </div>
                   <div class="advantages">
                         <div>
       <!--LAYERS-->
        <include src="icons/layer.html"></include>

                         </div>
                         <div class="gap-content">
                             <h2 class="font-content-2">ORGANIZED LAYERS</h2>
                             <p class="font-content-2">Are you one of the thousands of Iphone owners who has no idea that they can get free games for their Iphone?</p>
                         </div>
                   </div>
              </div>
                   <img src="../assets/imgs/iphone/mac.png" alt="" class="mac">
                  
             </div>
        </section>