<section class="main__content--mgt" id="main">
  <div>
    <h2 class="title">Features</h2>
    <p class="text__content--ct">WE’RE TAKING IT TO THE NEXT LEVEL</p>
  </div>
  <div class="features">
    <div class="features__container">
      <div class="features__items">
        <!---DESKTOP PHONE-->
        <div class="features__icons--size">
          <include src="icons/desktop.html"></include>
        </div>
        <div>
          <h2 class="text__content--size-18 content--mgbt-0">
            RESPONSIVE LAYOUT
          </h2>
          <p class="testimonials__items--description">
            The past few years have seen a dramatic change in the public
            perception of cosmetic surgery.
          </p>
        </div>
      </div>
      <div class="features__items">
        <!---DIAMOND-->
        <div class="features__icons--size">
          <include src="icons/diamond.html"></include>
        </div>
        <div>
          <h2 class="text__content--size-18 content--mgbt-0">PIXEL PERFECT</h2>
          <p class="testimonials__items--description">
            About 64% of all on-line teens say that do things online that they
            wouldn’t want their parents to know about.
          </p>
        </div>
      </div>
      <div class="features__items">
        <div class="features__icons--size">
          <!--LAYERS-->
          <include src="icons/layer.html"></include>
        </div>
        <div>
          <h2 class="text__content--size-18 content--mgbt-0">
            ORGANIZED LAYERS
          </h2>
          <p class="testimonials__items--description">
            Are you one of the thousands of Iphone owners who has no idea that
            they can get free games for their Iphone?
          </p>
        </div>
      </div>
    </div>
    <img src="../assets/imgs/iphone/mac.png" alt="" class="mac" />
  </div>
</section>
