<div class="nav__footer">
  <ul class="nav__footer--items text__content--size-18">
    <li><a href="#">About Us</a></li>
    <li><a href="#">Explore</a></li>
    <li><a href="#"> Contact</a></li>
  </ul>
  <ul class="nav__footer--items text__content--size-18">
    <li><a href="#">Testimonials</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">News</a></li>
  </ul>
  <ul class="nav__footer--items text__content--size-18">
    <li><a href="#">Documentation</a></li>
    <li><a href="#">Help </a></li>
    <li><a href="#"> Privacy </a></li>
  </ul>
</div>
