<section class="section">
  <h2 class="title">Testimonials</h2>
  <!--PERSON-->
  <div class="testimonials testimonials__grid">
    <!--content 1-->
    <div class="testimonials__items--content testimonials__items--hover">
      <img
        src="../assets/imgs/person/person.png"
        alt=""
        class="person__img--size person__img--circle"
      />
      <div>
        <div>
          <h3 class="title__content--size-18 title-2">LULU HOFFMAN</h3>
          <p class="hr">Marketing Consultant at okodesign.net</p>
        </div>
        <div>
          <p class="testimonials__items--description">
            If you are an entrepreneur, you know that your success cannot depend
            on the opinions of others. Like the wind, opinions change…like the
            weather, opinions change frequently.
          </p>
        </div>
        <div class="main__icons product-list__item">
          <!--LINKEDIN-->
          <div class="icons--fill icons--size">
            <include src="icons/linkedin.html"></include>
          </div>

          <!--TWITTER-->
          <div class="icons--fill icons--size">
            <include src="icons/twitter.html"></include>
          </div>

          <!--google-plus-->
          <div class="icons--fill icons--size">
            <include src="icons/google-plus.html"></include>
          </div>
        </div>
      </div>
    </div>
    <!--content 2-->
    <div class="testimonials__items--content testimonials__items--hover">
      <img
        src="../assets/imgs/person/person-2.png"
        alt=""
        class="person__img--size person__img--circle"
      />
      <div class="">
        <div class="">
          <h3 class="text__content--size-18 title-2">ELSIE DUNCAN</h3>
          <p class="hr">Project Manager at okodesign.net</p>
        </div>
        <div>
          <p class="testimonials__items--description">
            Ever heard of the Fuller Brush Man? You know, those legendary guys
            who came knocking on the front doors of America, selling brushes,
            mops and cleaners?
          </p>
        </div>
        <div class="main__icons product-list__item">
          <!--FACBOOK-->
          <div class="icons--fill icons--size">
            <include src="icons/facbook.html"></include>
          </div>

          <!--TWITTER-->
          <div class="icons--fill icons--size">
            <include src="icons/twitter.html"></include>
          </div>
        </div>
      </div>
    </div>
    <!--content 3-->
    <div class="testimonials__items--content testimonials__items--hover">
      <img
        src="../assets/imgs/person/person-3.png"
        alt=""
        class="person__img--size person__img--circle"
      />
      <div class="">
        <div class="">
          <h3 class="text__content--size-18 title-2">DUSTIN GONZALES</h3>
          <p class="testimonials__items--description hr">
            CEO at hofmannui.net
          </p>
        </div>
        <div>
          <p class="testimonials__items--description">
            Do you remember the story of “The Wizard of Oz”? In this story we
            saw the characters of Dorothy, who had wanted to run away from home
            because she thought there was a better place somewhere.
          </p>
        </div>
        <div class="main__icons product-list__item">
          <!--FACBOOK-->
          <div class="icons--fill icons--size">
            <include src="icons/facbook.html"></include>
          </div>
          <!--LINKEDIN-->
          <div class="icons--fill icons--size">
            <include src="icons/linkedin.html"></include>
          </div>
          <!--google-plus-->
          <div class="icons--fill icons--size">
            <include src="icons/google-plus.html"></include>
          </div>
        </div>
      </div>
    </div>
    <!--content 4-->
    <div class="testimonials__items--content testimonials__items--hover">
      <img
        src="../assets/imgs/person/person-4.png"
        alt=""
        class="person__img--size person__img--circle"
      />
      <div class="">
        <div class="">
          <h3 class="text__content--size-18 title-2">LAURA PARKS</h3>
          <p class="hr">UX Lead at hofmannui.net</p>
        </div>
        <div>
          <p class="testimonials__items--description">
            They are big, bold and beautiful. Billboards have been around for
            quite a while. In almost all places nowadays you can find billboards
            of just about every product there is in the market. No matter how
            you see it, billboard advertising is on the rise.
          </p>
        </div>
        <div class="main__icons product-list__item">
          <!--FACBOOK-->
          <div class="icons--fill icons--size">
            <include src="icons/facbook.html"></include>
          </div>
          <!--LINKEDIN-->
          <div class="icons--fill icons--size">
            <include src="icons/linkedin.html"></include>
          </div>

          <!--TWITTER-->
          <div class="icons--fill icons--size">
            <include src="icons/twitter.html"></include>
          </div>
          <!--google-plus-->
          <div class="icons--fill icons--size">
            <include src="icons/google-plus.html"></include>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
