<each loop="items in {{ list }}">
  <section class="main__content--mgt">
    <h2 class="title" data-aos="fade-up">{{ items.title }}</h2>
    <!--PERSON-->
    <div class="testimonials testimonials__grid">
      <!--content 1-->
      <div
        class="testimonials__items--content testimonials__items--hover"
        data-aos="fade-up"
      >
        <img
          src="../assets/imgs/person/person.png"
          alt=""
          class="person__img--size person__img--circle"
        />
        <div>
          <div>
            <h3 class="title__content--size-18 title-2">{{ items.user1 }}</h3>
            <p class="hr">{{ items.subtitle_user1 }}</p>
          </div>
          <div>
            <p
              class="testimonials__items--description text__wrapper--ellipsis-2"
            >
              {{items.content_user1}}
            </p>
          </div>
          <div class="main__icons product-list__item">
            <!--LINKEDIN-->
            <div class="icons--fill icons--size">
              <include src="icons/linkedin.html"></include>
            </div>

            <!--TWITTER-->
            <div class="icons--fill icons--size">
              <include src="icons/twitter.html"></include>
            </div>

            <!--google-plus-->
            <div class="icons--fill icons--size">
              <include src="icons/google-plus.html"></include>
            </div>
          </div>
        </div>
      </div>
      <!--content 2-->
      <div
        class="testimonials__items--content testimonials__items--hover"
        data-aos="fade-up"
      >
        <img
          src="../assets/imgs/person/person-2.png"
          alt=""
          class="person__img--size person__img--circle"
        />
        <div>
          <div>
            <h3 class="text__content--size-18 title-2">{{ items.user2 }}</h3>
            <p class="hr">{{ items.subtitle_user2 }}</p>
          </div>
          <div>
            <p
              class="testimonials__items--description text__wrapper--ellipsis-2"
            >
              {{items.content_user2}}
            </p>
          </div>
          <div class="main__icons product-list__item">
            <!--FACBOOK-->
            <div class="icons--fill icons--size">
              <include src="icons/facbook.html"></include>
            </div>

            <!--TWITTER-->
            <div class="icons--fill icons--size">
              <include src="icons/twitter.html"></include>
            </div>
          </div>
        </div>
      </div>
      <!--content 3-->
      <div
        class="testimonials__items--content testimonials__items--hover"
        data-aos="fade-up"
      >
        <img
          src="../assets/imgs/person/person-3.png"
          alt=""
          class="person__img--size person__img--circle"
        />
        <div>
          <div>
            <h3 class="text__content--size-18 title-2">{{ items.user3 }}</h3>
            <p class="testimonials__items--description hr">
              {{ items.subtitle_user3 }}
            </p>
          </div>
          <div>
            <p
              class="testimonials__items--description text__wrapper--ellipsis-2"
            >
              {{items.content_user3}}
            </p>
          </div>
          <div class="main__icons product-list__item">
            <!--FACBOOK-->
            <div class="icons--fill icons--size">
              <include src="icons/facbook.html"></include>
            </div>
            <!--LINKEDIN-->
            <div class="icons--fill icons--size">
              <include src="icons/linkedin.html"></include>
            </div>
            <!--google-plus-->
            <div class="icons--fill icons--size">
              <include src="icons/google-plus.html"></include>
            </div>
          </div>
        </div>
      </div>
      <!--content 4-->
      <div
        class="testimonials__items--content testimonials__items--hover"
        data-aos="fade-up"
      >
        <img
          src="../assets/imgs/person/person-4.png"
          alt=""
          class="person__img--size person__img--circle"
        />
        <div>
          <div>
            <h3 class="text__content--size-18 title-2">{{ items.user4 }}</h3>
            <p class="hr">{{ items.subtitle_user4 }}</p>
          </div>
          <div>
            <p
              class="testimonials__items--description text__wrapper--ellipsis-2"
            >
              {{items.content_user4}}
            </p>
          </div>
          <div class="main__icons product-list__item">
            <!--FACBOOK-->
            <div class="icons--fill icons--size">
              <include src="icons/facbook.html"></include>
            </div>
            <!--LINKEDIN-->
            <div class="icons--fill icons--size">
              <include src="icons/linkedin.html"></include>
            </div>

            <!--TWITTER-->
            <div class="icons--fill icons--size">
              <include src="icons/twitter.html"></include>
            </div>
            <!--google-plus-->
            <div class="icons--fill icons--size">
              <include src="icons/google-plus.html"></include>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</each>
