 <section>
<h2 class="title">Testimonials</h2>
<div>
     <div class="card-bg">
           <img src="../assets/imgs/person/person.png" alt="" class="person-border-radius-img">
           <div class="gap-content">
               <div>
                <h3 class="font-content-2">LULU HOFFMAN</h3>
                <p class="font-content-2">Marketing Consultant at okodesign.net</p>
               </div>
               <div>
                    <p class="font-content-2">If you are an entrepreneur, you know that your success cannot depend on the opinions of others. Like the wind, opinions change…like the weather, opinions change frequently.</p>
                    <div class="main-list-icons">
                      <!--LINKEDIN-->
                      <div class="fill-icons">
                             <include src="icons/linkedin.html"></include>
                      </div>
   
                       <!--TWITTER-->
                       <div class="fill-icons">
                              <include src="icons/twitter.html"></include>
                       </div>

                               <!--google-plus-->
                         <div class="fill-icons"> 
                                <include src="icons/google-plus.html"></include>
                         </div>
                    </div>
               </div>
           </div>
     </div>
</div>
        </section>