html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: auto;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  height: auto;
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-weight: 400;
  color: #4b4b4b;

  scrollbar-width: none;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}
