@use "../abstracts/" as *;

.footer {
  background: $footer;
  width: 100%;
  height: auto;
  display: flex;
  padding: 40px 24px;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.footer--logo {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 30%;
}
.footer--input {
  background: none;
  border: 1px solid #7d7d7d;
  width: 262px;
  height: 48px;
  border-radius: 5px 0 0 5px;
  color: white;
  padding: 10px;
}
.footer--input:focus {
  outline: none;
}
.footer--btn {
  background: #ebcb80;
  width: 51px;
  height: 48px;
  border: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}
.footer--btn:active svg path {
  stroke: #fff;
}
.footer--btn:active {
  box-shadow: -1px 1px 25px 6px #ebcb80;
}

.footer--btn svg path {
  stroke: $footer;
}
.footer__email {
  display: flex;
  flex-direction: row;
}
.nav__footer--container {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 47px;
}
.nav__footer {
  display: flex;
  gap: 128px;
  justify-content: flex-end;
}
.nav__footer--items {
  color: #fff;
  gap: 12px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.nav__footer--items a {
  text-decoration: none;
  color: white;
}
.footer__icons--container {
  display: flex;
  justify-content: flex-end;
}
.footer__icons--items {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.icons--items-ft {
  display: flex;
  gap: 41px;
  cursor: pointer;
}
.content--ft-flex {
  display: none;
}
.icons--items-ft svg {
  width: 25px;
  height: 25px;
}
.icons--items-ft svg path {
  fill: #ebcb80;
}
@media screen and (max-width: 1020px) {
  .footer--input {
    width: 158px;
    height: 26px;
  }
  .footer--btn {
    height: 26px;
    width: 24px;
  }
  .footer--btn svg {
    width: 11px;
    height: 11px;
  }
  .icons--items-ft {
    gap: 27px;
  }
  .icons--items-ft svg {
    width: 17px;
    height: 17px;
  }
  .nav__footer {
    gap: 82px;
  }
}
@media screen and (max-width: 768px) {
  .nav__footer--container {
    width: 51%;
  }
}

@media screen and (max-width: 680px) {
  .footer {
    flex-direction: column;

    padding: 20px;
  }
  .footer--logo {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .nav__footer {
    text-align: center;
    gap: 0;
    justify-content: space-between;
  }
  .nav__footer--container {
    width: 100%;
  }
  .content--ft-hidden {
    display: none;
  }
  .content--ft-flex {
    display: flex;
    justify-content: center;
  }
  .nav__footer--container {
    gap: 32px;
  }
  .footer__icons--container {
    justify-content: center;
    text-align: center;
  }
}
