/*HEADER*/
.header {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  padding: 24px;

  align-items: center;
}

/*LOGO*/
.logo {
  margin: 0;
  font-size: 36px;
  color: #ebcb80;
}
@media screen and (max-width: 1000px) {
  .header {
    justify-content: space-between;
  }
  .logo {
    font-size: 24px;
  }
}
@media screen and (max-width: 685px) {
  .logo {
    font-size: 20px;
  }
}
