<footer class="footer">
  <!--LOGO FOOTER-->
  <div class="footer--logo">
    <h3
      class="text__content--size-36 pricing__text--light-yellow text__content--lh-0"
    >
      HOFMANN
    </h3>
    <p class="text__content--size-18 text__content--white text__content--lh-2">
      Hoffman UI Kit was made to help you quickly create beautiful layouts of
      responsive websites.
    </p>
    <p
      class="text__content--small text__content--white text__content--lh-2 content--ft-hidden"
    >
      © 2016 Created by Goldenfox
    </p>
    <p class="text__content--size-18 text__content--white text__content--lh-0">
      SUBSCRIBE TO OUR NEWS
    </p>
    <div class="footer__email">
      <input
        type="text"
        name=""
        id=""
        placeholder="Your Email"
        class="footer--input text__content--small"
      />
      <button class="footer--btn">
        <include src="icons/next.html"></include>
      </button>
    </div>
  </div>
  <!--NAV FOOTER-->
  <div class="nav__footer--container">
    <div></div>
    <div class="nav__footer">
      <ul class="nav__footer--items text__content--size-18">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Explore</a></li>
        <li><a href="#"> Contact</a></li>
      </ul>
      <ul class="nav__footer--items text__content--size-18">
        <li><a href="#">Testimonials</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">News</a></li>
      </ul>
      <ul class="nav__footer--items text__content--size-18">
        <li><a href="#">Documentation</a></li>
        <li><a href="#">Help </a></li>
        <li><a href="#"> Privacy </a></li>
      </ul>
    </div>
    <div class="footer__icons--container">
      <div class="footer__icons--items">
        <p class="text__content--size-18 text__content--white">FOLLOW US</p>
        <div class="icons--items-ft">
          <!--pinterest-->
          <div class="icons--items-ft">
            <include src="icons/pinterest.html"> </include>
          </div>
          <!--linkedin-->
          <div class="icons--items-ft">
            <include src="icons/linkedin.html"></include>
          </div>
          <!--google-plus-->
          <div class="icons--items-ft">
            <include src="icons/google-plus.html"> </include>
          </div>
          <!--twitter-->
          <div class="icons--items-ft">
            <include src="icons/twitter.html"> </include>
          </div>
          <!--facebook-->
          <div class="icons--items-ft">
            <include src="icons/facbook.html"> </include>
          </div>
          <!--instagram-->
          <div class="icons--items-ft">
            <include src="icons/instagram.html"> </include>
          </div>
        </div>
      </div>
    </div>
    <p
      class="text__content--small text__content--white text__content--lh-2 content--ft-flex"
    >
      © 2016 Created by Goldenfox
    </p>
  </div>
</footer>
