<section class="wd-hg">
  <!---BACKGROUND 1-->
  <img
    src="../assets/imgs/background/background.png"
    alt=""
    class="background"
  />
  <!---HEADER-->
  <header class="header">
    <div>
      <h1 class="logo"><a href="#"> H. </a></h1>
    </div>
    <!---navigation-->
    <include src="components/navigation.html"></include>
    <!---ICONS-->
    <div class="main__icons main__icons--gap">
      <!--TWITTER--->
      <a href="#" class="items__icons--size">
        <include src="icons/twitter.html"></include>
      </a>
      <!---FACBOOK-->
      <a href="#" class="items__icons--size">
        <include src="icons/facbook.html"></include>
      </a>
      <!--INSTAGRAM--->
      <a href="#" class="items__icons--size">
        <include src="icons/instagram.html"></include>
      </a>
    </div>
    <!---HAMBUGER-->
    <div class="hambuger">
      <img src="/src/assets/icons/Hamburger.svg" alt="" />
    </div>
  </header>
  <!---VIDEO FRAME-->
  <include src="components/video-frame.html"></include>
</section>
