    <section class="wd-hg">
      <!---BACKGROUND 1-->
        <img src="../assets/imgs/background/background.png" alt=""   class="background"/>
 
        <div> 
        </div>
    <!---HEADER-->
    <header class="header">
        <div>
          <h1 class="logo">H.</h1>
        </div>
        <!---navigation-->
     <include src="components/navigation.html"></include>
        <!---ICONS-->
        <div class="main-list-icons">
          <!--TWITTER--->
          <a href="#">
           <include src="icons/twitter.html"></include>
          </a>
          <!---FACBOOK-->
          <a href="#">
           <include src="icons/facbook.html"></include>
          </a>
          <!--INSTAGRAM--->
          <a href="#">
           <include src="icons/instagram.html"></include>
          </a>
        </div>
     <!---HAMBUGER-->
        <div class="hambuger">
       

   <include src="icons/hambuger.html"></include>

        </div>
    </header>
        <!---VIDEO FRAME-->
          <section class="flex-content">
                 <h2 class="text">See The Unmatched Beauty Of The Great Lakes</h2>
                 <div class="main-video">
                    <img src="../assets/imgs/iphone/video-frame.png" alt="" class="video-frame">
                    <button class="play-button"></button>
                 </div>
                 <svg width="18" height="9" viewBox="0 0 18 9" fill="none" xmlns="http://www.w3.org/2000/svg" style="cursor: pointer;">
<path d="M1 1.00488L9 7.67155L17 1" stroke="white" stroke-width="2" stroke-linecap="round"/>
</svg>

    </section>

    </section>