<section class="wd-hg">
  <!---BACKGROUND 1-->
  <img
    src="../assets/imgs/background/background.png"
    alt=""
    class="background"
  />

  <div></div>
  <!---HEADER-->
  <header class="header">
    <div>
      <h1 class="logo">H.</h1>
    </div>
    <!---navigation-->
    <include src="components/navigation.html"></include>
    <!---ICONS-->
    <div class="main-list-icons">
      <!--TWITTER--->
      <a href="#">
        <include src="icons/twitter.html"></include>
      </a>
      <!---FACBOOK-->
      <a href="#">
        <include src="icons/facbook.html"></include>
      </a>
      <!--INSTAGRAM--->
      <a href="#">
        <include src="icons/instagram.html"></include>
      </a>
    </div>
    <!---HAMBUGER-->
    <div class="hambuger">
      <img src="/src/assets/icons/Hamburger.svg" alt="" />
    </div>
  </header>
  <!---VIDEO FRAME-->
  <include src="components/video-frame.html"></include>
</section>
